<!doctype html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>

    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div id="app">
    </div>

    <script src="./static/js/app.js"></script>
    
    <!--
    <div id="header">{% block header %}{% endblock %}</div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2016 by <a href="//malkoG.github.io">Malko</a>
      {% endblock %}
    </div>

    -->
  </body>
</html>
